.avatar {
    border-radius: 50%; 
    float: left; 
    margin-right: 1em;
  }
.responsive {
  max-width: 100%;
  height: auto;
  
}

.about {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  background-color: grey;
  font-size: 17px;
  text-shadow: 2px 5px olivedrab;
 
}

.around {
  border-style: solid;
  border-width: 75px;
  border-color: teal; 
}
#name {
  text-align: center;
  font-size: 75px;
  text-shadow: 5px 5px grey;

  }
  body{
    padding: 0;
    margin: 0;
  }

  @import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;

}
header {
  height: 30px;
  background: black;
  color: white;
  padding: 30px 20px 30px 20px;
  border-style: solid;
  border-width: 60px;
  border-color: rgba(70, 122, 175, 0.753);
    
  }
  
  header .logo{
    line-height: 30px;
    font-weight: bold;
    
  }

  nav {
    float: right;
    border-style: solid;
    border-color: silver;
    border-width: 10px;
  }
  #menu {
    font-size: 20px;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  
  }
  
  nav ul li{
    display: inline;
  }
  
  nav ul li a,
  nav ul li a:link,
  nav ul li a:visited{
    display: inline-block;
    padding: 0 .5rem;
    color: white;
    line-height: 50px;
    text-decoration: none;
  }
  
  nav ul li a:hover{
    background: #444;
  }
  
  main {
  /* Use a margin to center the page */
  margin: 0 auto;
  

  /* Set the width of the content */
  width: 960px;

  /* For smaller screens to not exceed the max screen width */
  max-width: 100%;
}
#toggleMenu {
  display: none;
}
p {
  font-size: 18px;
  text-align: justify; }

.company {
  font-size: 25px;
  font-weight: bold;
  font-style: italic; }

.place {
  font-size: 20px; }

.year {
  font-size: 20px;
  float: right; }

.job {
  font-size: 20px;
  font-style: italic; }

.links {
  font-size: 20px; }

.summaryskills {
  font-size: 18px; }

@media only screen and (max-width: 960px)  {

  #toggleMenu {
    display: block;
    float: right;
    line-height: 50px;
  }


  nav {
    display: none;
    background: #000;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited{
  display: block;
  border-bottom: 1px solid #777;

}

h1 {
  font-size: 60px; }

h2 {
  font-size: 30px; }


}
